<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <table>
    <tr>
      <td>
        <h1>Registration</h1>
      </td>
      <td>
        <h1>Purchases</h1>
      </td>
      <td>
        <h1>Reports</h1>
      </td>
    </tr>
    <tr>
      <td>
        <a href="/reg">Click here...</a>
      </td>
      <td>
        <a href="/purchases">Click here...</a>
      </td>
      <td>
        <a href="/reports">Click here...</a>
      </td>
    </tr>
  </table>
</body>

</html>