<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Registration</h1>
  <form action="/reg" method="POST">
    <span>Name</span><br/>
    <input name="name"/><br/><br/>
    <span>Surname</span><br/>
    <input name="surname"/><br/><br/>
    <span>Address</span><br/>
    <input name="address"/><br/><br/>
    <span>Email</span><br/>
    <input name="email"/><br/><br/>
    <span>Telephone</span><br/>
    <input name="telephone"/><br/><br/>
    <span>Loyality Card</span><br/>
    <input name="card"/><br/><br/><br/>
    <input type="submit" value="Enter"/>
  </form>
</body>
</html>